.wrap{
  background:#6633FF;
  &::after{
    content:'';
    display:block;
    clear: both;
  }
  h1{
    font-size: 20px;
    color:#409eff;
    border-bottom:1px solid #ff0000;
    line-height:2;
    float:left;
    padding-right:10px;
  }
  .tang{
    line-height: 1.5;
    color:#ff0;
    float:left;
  }
  .tom{
    line-height:1.5;
    color:#FF6699;
    float:left;
  }
}